*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  height:100vh;
  background-color: white;
  font-family: "Inter",sans-serif;

}


.grid_container{
  display:grid;
  grid-template-columns:  300px 300px 300px;
  grid-template-rows: 50px 200px 130px 110px;
  grid-row-gap: 20px;
  grid-column-gap:20px;
}


.img_logo{
  grid-area: 1/1/2/2;
 }


.buttons_menu{

grid-area: 1/2/2/4;
display: flex;
justify-content: flex-end;
}
.icon_menu{
  display: none;
  width: 50px;
  height:40px;
  background-image:url(./assets/images/icon-menu.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer;
}

.button{
  width:80px;
  border: none;
  color:grey;
  background-color: white;
  cursor: pointer;
}

.button_cursor{
  color:hsl(5, 85%, 63%);
}
.icon_close{
  display: none;

}

.buttons_menu.active {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 50px;
  padding-left:30px;
  gap: 20px;
  width: 50%;
  height: 100vh;
  background-color: white;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
}
.buttons_menu.active .icon_close {
  display: flex;
  align-self: flex-end;
  margin-right: 30px;


}
.buttons_menu.active .button {
  text-align: left;           /* Wyrównanie tekstu do lewej */
  padding-left: 10px;         /* Dodanie odstępu od lewej */
  width: 100%;                /* Przycisk zajmuje pełną szerokość */
  background-color: transparent; /* Opcjonalnie przezroczyste tło */
  border: none;               /* Usuń obramowanie przycisków */
  cursor: pointer;
  font-size:20px;
}


.abstraction{

  background-image: url(./assets/images/image-web-3-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  grid-area:2/1/3/3;

}

#new{
  color:hsl(35, 77%, 62%);
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.title{
  font-weight: bold;
  font-size:1rem;
  text-decoration: none;
  line-height: 25px;
  color: white;
  cursor: pointer;
}

.title_cursor{
  color:hsl(35, 77%, 62%);
}

hr{
  width: 250px;
  margin-bottom: 10px;
}

#des{
  font-weight: lighter;
  height:60px;
  font-size: 0.8rem;
  line-height: 25px;
}

.black_block{

  background-color: black;
  color: white;
  gap:10px;
  grid-area: 2/3/4/4;
  padding:15px;
}

.header{
  padding-top: 10px;
  font-size: 2.47rem;
  color: black;
  font-weight: 900;
  width:200px;
  line-height: 40px;
  grid-area: 3/1/4/2;
}

.article_des{
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  font-size: 0.8rem;
  color: grey;
  line-height: 20px;
  justify-content: space-between;
  grid-area: 3/2/4/3;
}

.read_button{
  background-color: hsl(5, 85%, 63%);
  color: black;
  font-weight: 900;
  border: none;
  width:125px;
  height:30px;
  letter-spacing: 3px;
  font-size:0.7rem;
  cursor: pointer;
}

.read_button_cursor{
  background-color: black;
  color: white;
}


.block_1{
  grid-area: 4/1/5/2;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;

}

.laptop_img{
  background-image: url(./assets/images/image-top-laptops.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height:100px;
  width:80px;

}
.block_text{
  width:190px;
  text-align: justfy;
  line-height: 20px;
}

.block_2{
  grid-area: 4/2/5/3;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;

}
.gaming_img{
  background-image: url(./assets/images/image-gaming-growth.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height:100px;
  width:80px;

}

.block_3{
  grid-area:4/3/5/4;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;

}

#num{
  color:hsl(5, 85%, 63%);
  font-size: 1.7rem;
  font-weight: 900;
  margin-bottom: 7px;
}

.header_block{
  font-weight: bold;
  font-size:0.9rem;
  text-decoration: none;
  color:black;
  cursor: pointer;
}

.header_block_cursor{
  color:hsl(5, 85%, 63%);
}



#block_des{
  font-size: 0.8rem;
  color:grey;
}
.PC_img{
  background-image: url(./assets/images/image-retro-pcs.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height:100px;
  width:80px;

}
.attribution{
  margin-top: 30px;
}



  @media only screen and (max-width: 450px) {

    body{
      height: auto;
    }


    .grid_container {
      grid-template-columns: 350px; /* Jedna kolumna */
      grid-template-rows: auto; /* Dostosowanie wysokości wierszy */
      grid-row-gap: 20px; /* Odstępy między wierszami */
      padding:20px;
    }
.intro{
  display:flex;
  justify-content: space-between;
}
    .img_logo {
      grid-area:1/1/1/2;
      padding-left: 10px;
    }

    .buttons_menu {
      display:none;
    }


    .icon_menu{
      display:block;

    }
    .buttons_menu.active .icon_close {
  display: block; /* Pokaż krzyżyk w menu mobilnym */
}

    .abstraction {
      grid-area: auto;
      height: 200px;

      background-position: center;
    }

    .header {
      grid-area: 3/1/4/1;

    }

    .article_des {
      grid-area: 4/1/5/1;
      gap:15px;

    }

    .black_block {
      grid-area: auto;
      height: auto;
      padding: 10px;

    }

    .block_1,
    .block_2,
    .block_3 {
      grid-area: auto;
      display: flex;
      justify-content: space-between;
      flex-direction: row; /* Obrazek i tekst w jednym wierszu */
      gap: 15px; /* Odstęp między obrazkiem a tekstem */

    }

    .laptop_img,
    .gaming_img,
    .PC_img {
      height: 100px; /* Dostosuj wysokość miniatur */
      width: 80px;
    }

    .block_text {
      text-align: justify;
      width:80%;
    }
  }
